$fa-font-path: "./webfonts";

// Font Variables
$roboto: "Roboto", serif;
$gochi-hand: "Gochi Hand", sans-serif;

$normal: 400;
$bold: 700;

// Color variables
// User Interface
$primary-color: #f6d524;
$secondary-color: #e1c323;
$white: #ffffff;

// Background Elements
$bg-azure: #83b6d2e5;
$bg-white: #ffffff;

// Text elements
$primary-text-color: #4b4b4b;
$secondary-text-color: #ffffff;

//Transition speed
$transition-normal: 0.3s;
$transition-slow: 0.5s;
$transition-fast: 0.15s;
